
@{
    ViewBag.Title = "Update";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using Model.Models
<script>
        function testIndex() {
            var sel = document.getElementById("slBirthDay");
            var selm = document.getElementById("slBirthMonth");
            var sely = document.getElementById("slBirthYear");

            var opt = sel.options[sel.selectedIndex];
            var optm = selm.options[selm.selectedIndex];
            var opty = sely.options[sely.selectedIndex];


            if (opt.value != "0") {
                sel.style.borderColor = "#A4A4A4";
            }
            if (optm.value != "0") {
                selm.style.borderColor = "#A4A4A4";
            }
            if (opty.value != "-1") {
                sely.style.borderColor = "#A4A4A4";
            }


            if (opt.value == "0") {
                sel.style.borderColor = "#FF0000";
                return false;
            } else if (optm.value == "0") {
                selm.style.borderColor = "#FF0000";
                return false;
            } else if (opty.value == "-1") {
                sely.style.borderColor = "#FF0000";
                return false;
            }
            return true;
        }

        var numDays = {
            '1': 31, '2': 28, '3': 31, '4': 30, '5': 31, '6': 30,
            '7': 31, '8': 31, '9': 30, '10': 31, '11': 30, '12': 31
        };

        function setDays(oMonthSel, oDaysSel, oYearSel) {
            var nDays, oDaysSelLgth, opt, i = 1;
            nDays = numDays[oMonthSel[oMonthSel.selectedIndex].value];
            if (nDays == 28 && oYearSel[oYearSel.selectedIndex].value % 4 == 0)
                ++nDays;
            oDaysSelLgth = oDaysSel.length - 1;
            if (nDays != oDaysSelLgth) {
                if (nDays < oDaysSelLgth)
                    oDaysSel.length = nDays + 1;
                else for (i; i < nDays - oDaysSelLgth + 1; i++) {
                    opt = new Option(oDaysSelLgth + i, oDaysSelLgth + i);
                    oDaysSel.options[oDaysSel.length] = opt;
                }
            }
            var oForm = oMonthSel.form;
            var month = oMonthSel.options[oMonthSel.selectedIndex].value;
            var day = oDaysSel.options[oDaysSel.selectedIndex].value;
            var year = oYearSel.options[oYearSel.selectedIndex].value;
            oForm.hidden.value = month + '/' + day + '/' + year;
        };



        $(window).bind("load", function () {
            var sel = document.getElementById("slBirthDay");
            var date = '@Session["DATE"]';
            for (var i = 0 ; j = sel.options.length, i < j; i++) {
                if (sel.options[i].innerHTML === date) {
                    sel.selectedIndex = i;
                    break;
                }
            }

            var selm = document.getElementById("slBirthMonth");
            var month = '@Session["MONTH"]';
            for (var i = 0 ; j = selm.options.length, i < j; i++) {
                if (selm.options[i].innerHTML === month) {
                    selm.selectedIndex = i;
                    break;
                }
            }

            var sel = document.getElementById("slBirthYear");
            var year = '@Session["YEAR"]';
            for (var i = 0 ; j = sel.options.length, i < j; i++) {
                if (sel.options[i].innerHTML === year) {
                    sel.selectedIndex = i;
                    break;
                }
            }

            var sel = document.getElementById("slGender");
            var gender = '@Session["GENDER"]';
            for (var i = 0 ; j = sel.options.length, i < j; i++) {
                if (sel.options[i].innerHTML === gender) {
                    sel.selectedIndex = i;
                    break;
                }
            }
        });

</script>
</div>
@using (Html.BeginForm("Update", "UpdateAccount"))
{
    <div class="content">
        <div class="container">
            <div class="page-header">
                <h2>My Function Information</h2>
            </div>
            <div class="info">
                @{
                    User_Account user = (User_Account)Session["USER"];
                <table>
                    <tbody>
                        <tr>
                            <td><label>Email Address</label></td>
                            <td><input type="text" readonly value="@user.Email" class="inputTextPass" name="txtEmail" /><br /></td>
                        </tr>
                        <tr>
                            <td><label>Name*</label></td>
                            <td>
                                <input type="text" value="@user.Full_Name" oninvalid="setCustomValidity('PLEASE input Full Name!!!')"
                                       onchange="try { setCustomValidity('') } catch (e) { }" required class="inputTextPass" name="txtFullname" />
                            </td>
                        </tr>
                        <tr>
                            <td><label>Gender*</label></td>
                            <td>
                                <select name="slGender" id="slGender" onshow="setIndexOfGender()">
                                    <option>Male</option>
                                    <option>Female</option>
                                    <option>Other</option>
                                    <option>Rather not say</option>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td><label>Address*</label></td>
                            <td>
                                <input type="text" value="@user.Address" oninvalid="setCustomValidity('PLEASE input Address!!!')"
                                       onchange="try { setCustomValidity('') } catch (e) { }" required class="inputTextPass" name="txtAddress">
                            </td>
                        </tr>
                        <tr>
                            <td><label><strong>BirthDay</strong></label></td>
                            <td>
                                <fieldset>
                                    <select class="birth-day form-control" name="slBirthDay" id="slBirthDay" onchange="setDays(slBirthMonth,this,slBirthYear)">
                                        <option class="opp" value="0">Day</option>
                                        <option value="1">1</option>
                                        <option value="2">2</option>
                                        <option value="3">3</option>
                                        <option value="4">4</option>
                                        <option value="5">5</option>
                                        <option value="6">6</option>
                                        <option value="7">7</option>
                                        <option value="8">8</option>
                                        <option value="9">9</option>
                                        <option value="10">10</option>
                                        <option value="11">11</option>
                                        <option value="12">12</option>
                                        <option value="13">13</option>
                                        <option value="14">14</option>
                                        <option value="15">15</option>
                                        <option value="16">16</option>
                                        <option value="17">17</option>
                                        <option value="18">18</option>
                                        <option value="19">19</option>
                                        <option value="20">20</option>
                                        <option value="21">21</option>
                                        <option value="22">22</option>
                                        <option value="23">23</option>
                                        <option value="24">24</option>
                                        <option value="25">25</option>
                                        <option value="26">26</option>
                                        <option value="27">27</option>
                                        <option value="28">28</option>
                                        <option value="29">29</option>
                                        <option value="30">30</option>
                                        <option value="31">31</option>
                                    </select>
                                    <select class="birth-month form-control" name="slBirthMonth" id="slBirthMonth" onchange="setDays(this,slBirthDay,slBirthYear)">
                                        <option value="0">Month</option>
                                        <option value="1">1</option>
                                        <option value="2">2</option>
                                        <option value="3">3</option>
                                        <option value="4">4</option>
                                        <option value="5">5</option>
                                        <option value="6">6</option>
                                        <option value="7">7</option>
                                        <option value="8">8</option>
                                        <option value="9">9</option>
                                        <option value="10">10</option>
                                        <option value="11">11</option>
                                        <option value="12">12</option>
                                    </select>
                                    <select class="birth-year form-control" name="slBirthYear" id="slBirthYear" onchange="setDays(slBirthMonth,slBirthDay,this)"><option value="-1">Year</option><option value="2017">2017</option><option value="2016">2016</option><option value="2015">2015</option><option value="2014">2014</option><option value="2013">2013</option><option value="2012">2012</option><option value="2011">2011</option><option value="2010">2010</option><option value="2009">2009</option><option value="2008">2008</option><option value="2007">2007</option><option value="2006">2006</option><option value="2005">2005</option><option value="2004">2004</option><option value="2003">2003</option><option value="2002">2002</option><option value="2001">2001</option><option value="2000">2000</option><option value="1999">1999</option><option value="1998">1998</option><option value="1997">1997</option><option value="1996">1996</option><option value="1995">1995</option><option value="1994">1994</option><option value="1993">1993</option><option value="1992">1992</option><option value="1991">1991</option><option value="1990">1990</option><option value="1989">1989</option><option value="1988">1988</option><option value="1987">1987</option><option value="1986">1986</option><option value="1985">1985</option><option value="1984">1984</option><option value="1983">1983</option><option value="1982">1982</option><option value="1981">1981</option><option value="1980">1980</option><option value="1979">1979</option><option value="1978">1978</option><option value="1977">1977</option><option value="1976">1976</option><option value="1975">1975</option><option value="1974">1974</option><option value="1973">1973</option><option value="1972">1972</option><option value="1971">1971</option><option value="1970">1970</option><option value="1969">1969</option><option value="1968">1968</option><option value="1967">1967</option><option value="1966">1966</option><option value="1965">1965</option><option value="1964">1964</option><option value="1963">1963</option><option value="1962">1962</option><option value="1961">1961</option><option value="1960">1960</option><option value="1959">1959</option><option value="1958">1958</option><option value="1957">1957</option><option value="1956">1956</option><option value="1955">1955</option><option value="1954">1954</option><option value="1953">1953</option><option value="1952">1952</option><option value="1951">1951</option><option value="1950">1950</option><option value="1949">1949</option><option value="1948">1948</option><option value="1947">1947</option><option value="1946">1946</option><option value="1945">1945</option><option value="1944">1944</option><option value="1943">1943</option><option value="1942">1942</option><option value="1941">1941</option><option value="1940">1940</option><option value="1939">1939</option><option value="1938">1938</option><option value="1937">1937</option><option value="1936">1936</option><option value="1935">1935</option><option value="1934">1934</option><option value="1933">1933</option><option value="1932">1932</option><option value="1931">1931</option><option value="1930">1930</option><option value="1929">1929</option><option value="1928">1928</option><option value="1927">1927</option><option value="1926">1926</option><option value="1925">1925</option><option value="1924">1924</option><option value="1923">1923</option><option value="1922">1922</option><option value="1921">1921</option><option value="1920">1920</option><option value="1919">1919</option><option value="1918">1918</option><option value="1917">1917</option><option value="1916">1916</option><option value="1915">1915</option><option value="1914">1914</option><option value="1913">1913</option><option value="1912">1912</option><option value="1911">1911</option><option value="1910">1910</option><option value="1909">1909</option><option value="1908">1908</option><option value="1907">1907</option><option value="1906">1906</option><option value="1905">1905</option><option value="1904">1904</option><option value="1903">1903</option><option value="1902">1902</option><option value="1901">1901</option><option value="1900">1900</option><option value="1899">1899</option><option value="1898">1898</option><option value="1897">1897</option></select>
                                </fieldset>
                            </td>
                        </tr>
                    </tbody>
                </table>
                }
                <div id="divLogin">
                    <button type="submit" class="btnSa" onclick="return testIndex()">SAVE</button><br />
                </div>
                <p style="font-size:large; color:lightgreen">@ViewBag.Message</p>
            </div>
        </div>
    </div>
                    }


