<script type="text/javascript" src="~/Content/MyTemplate/js/easing.js"></script>
<script src="~/Content/MyTemplate/js/easyResponsiveTabs.js" type="text/javascript"></script>
<link href="~/Content/MyTemplate/css/easy-responsive-tabs.css" rel="stylesheet" type="text/css" media="all" />
<link rel="stylesheet" href="~/Content/MyTemplate/css/global.css">
<script src="~/Content/MyTemplate/js/slides.min.jquery.js"></script>
<script>
    $(function(){
        $('#products').slides({
            preload: true,
            preloadImage: 'img/loading.gif',
            effect: 'slide, fade',
            crossfade: true,
            slideSpeed: 350,
            fadeSpeed: 500,
            generateNextPrev: true,
            generatePagination: false
        });
    });
</script>
@{
    ViewBag.Title = "ProductDetails";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model Model.ViewModel.ProductDetailsModel

</div>
@*PRODUCT DETAILS*@

@{
    Model.Models.Product currentProduct = Model.ProductDetails;
}
<div class="main">
    <div class="content" style="padding-bottom:0px; padding-top: 0px;">

        <div class="content_bottom" style="margin-top:10px;">
            <div class="heading">
                <h3>
                    @Html.ActionLink(Model.ProductCatalogue.Catalogue_Name, "Catalogue", "Home", new { IDStr = Model.ProductCatalogue.Catalogue_ID + "" }, null)
                </h3>
            </div>
            <div class="see">
                <p>
                    @Html.ActionLink("See all Products", "Catalogue", "Home", new { IDStr = Model.ProductCatalogue.Catalogue_ID + "" }, null)
                </p>
            </div>
            <div class="clear"></div>
        </div>


        <div class="section group">
            <div class="cont-desc span_1_of_2">
                <div class="product-details">
                    <div class="grid images_3_of_2">
                        <div id="container">
                            <div id="products_example">
                                <div id="products">
                                    <div class="slides_container">
                                        <a href="#" target="_blank"><img src="@Url.Content(currentProduct.Title_Image)" alt=" " /></a>
                                        <a href="#" target="_blank"><img src="@Url.Content(currentProduct.Title_Image)" alt=" " /></a>
                                        <a href="#" target="_blank"><img src="@Url.Content(currentProduct.Title_Image)" alt=" " /></a>
                                        <a href="#" target="_blank"><img src="@Url.Content(currentProduct.Title_Image)" alt=" " /></a>
                                        <a href="#" target="_blank"><img src="@Url.Content(currentProduct.Title_Image)" alt=" " /></a>
                                        <a href="#" target="_blank"><img src="@Url.Content(currentProduct.Title_Image)" alt=" " /></a>
                                    </div>
                                    <ul class="pagination">
                                        <li><a href="#"><img src="@Url.Content(currentProduct.Title_Image)" alt=" " /></a></li>
                                        <li><a href="#"><img src="@Url.Content(currentProduct.Title_Image)" alt=" " /></a></li>
                                        <li><a href="#"><img src="@Url.Content(currentProduct.Title_Image)" alt=" " /></a></li>
                                        <li><a href="#"><img src="@Url.Content(currentProduct.Title_Image)" alt=" " /></a></li>
                                        <li><a href="#"><img src="@Url.Content(currentProduct.Title_Image)" alt=" " /></a></li>
                                        <li><a href="#"><img src="@Url.Content(currentProduct.Title_Image)" alt=" " /></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="desc span_3_of_2">
                        <h2 style="text-align:center; font-size: 16pt">
                            @currentProduct.Product_Name
                        </h2>
                        <div class="price">
                            <p>
                                Price:
                                <span>
                                    @currentProduct.RealPrice$
                                </span>
                                @if (currentProduct.DiscountPercent > 0)
                                {
                                    <strike>Old Price: @currentProduct.Price$</strike>

                                }
                            </p>
                        </div>
                        @if ((currentProduct.Products_Available > 0) && (currentProduct.Is_Sale))
                        {
                        <div class="quantity-add-cart">
                            @using (Html.BeginForm("Add", "Cart"))
                            {
                                <div>
                                    Quantity: <input type="hidden" name="productId" value="@currentProduct.Product_ID" />
                                    <input type="number" name="myNumber" style="width: 70px; height:37px; text-align:center" value="1" min="1" max="100" autofocus />
                                </div>

                                <div class="button-add">
                                    <span><button type="submit">Add to Cart</button></span>
                                </div>

                            }
                            @if (Session["ADD_ERROR"] != null)
                            {
                                <div class="add-error">
                                    <p>
                                        @Session["ADD_ERROR"]
                                    </p>
                                </div>
                                Session["ADD_ERROR"] = null;
                            }
                        </div>
                        }
                        else
                        {
                            <p style="width: 100%; text-align:center; font-weight: bold; color: red; font-size: 14pt;">
                                this product is not available or sold out
                            </p>
                        }

                        <div class="promotion-description">
                            <h2>
                                Promotion:
                                @if (currentProduct.DiscountPercent > 0)
                                {
                                    <span style="text-transform:none">(Discount: @currentProduct.DiscountPercent%)</span>
                                }
                            </h2>
                            @{ bool hasPromotions = false;}
                            @foreach (var item in currentProduct.Promotions)
                            {
                                if (item.Promotion_Description != null)
                                {
                                    <p>- @item.Promotion_Description</p>
                                    hasPromotions = true;
                                }
                            }
                            @if (!hasPromotions)
                            {
                                <p>This Product has no promotions</p>
                            }
                        </div>
                    </div>
                    <div class="clear"></div>
                </div>
                <div class="product_desc">
                    <div id="horizontalTab">
                        <ul class="resp-tabs-list">
                            <li>Product Details</li>
                            <li>Product Guarantee</li>
                            <div class="clear"></div>
                        </ul>
                        <div class="resp-tabs-container">
                            <div class="product-desc">
                                @Html.Raw(currentProduct.Description)
                            </div>
                            <div class="review">
                                @Html.Raw(currentProduct.Guarantee_Description)
                            </div>
                        </div>
                    </div>
                </div>
                <script type="text/javascript">
                    $(document).ready(function () {
                        $('#horizontalTab').easyResponsiveTabs({
                            type: 'default', //Types: default, vertical, accordion
                            width: 'auto', //auto or any width like 600px
                            fit: true   // 100% fit in a container
                        });
                    });
                </script>

            </div>
            <div class="rightsidebar span_3_of_1">
                <h2 style="color:#FFF; background:#189eff; height:30px; padding-top:8px; padding-left: 20px;
                    text-transform:uppercase; font-family: 'ambleregular';">
                    CATEGORIES
                </h2>
                <ul>
                    @foreach (var item in Model.Catalogues)
                    {
                        <li>
                            @Html.ActionLink(@item.Catalogue_Name, "Catalogue", "Home", new { IDStr = @item.Catalogue_ID + "" }, null)
                        </li>
                    }
                </ul>
                <div class="subscribe">
                    <h2>Newsletters Signup</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod.......</p>
                    <div class="signup">
                        <form>
                            <input type="text" value="E-mail address" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'E-mail address';"><input type="submit" value="Sign up">
                        </form>
                    </div>
                </div>
                <div class="community-poll">
                    <h2>Community POll</h2>
                    <p>What is the main reason for you to purchase products online?</p>
                    <div class="poll">
                        <form>
                            <ul>
                                <li>
                                    <input type="radio" name="vote" class="radio" value="1">
                                    <span class="label"><label>More convenient shipping and delivery </label></span>
                                </li>
                                <li>
                                    <input type="radio" name="vote" class="radio" value="2">
                                    <span class="label"><label for="vote_2">Lower price</label></span>
                                </li>
                                <li>
                                    <input type="radio" name="vote" class="radio" value="3">
                                    <span class="label"><label for="vote_3">Bigger choice</label></span>
                                </li>
                                <li>
                                    <input type="radio" name="vote" class="radio" value="5">
                                    <span class="label"><label for="vote_5">Payments security </label></span>
                                </li>
                                <li>
                                    <input type="radio" name="vote" class="radio" value="6">
                                    <span class="label"><label for="vote_6">30-day Money Back Guarantee </label></span>
                                </li>
                                <li>
                                    <input type="radio" name="vote" class="radio" value="7">
                                    <span class="label"><label for="vote_7">Other.</label></span>
                                </li>
                            </ul>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



@*RELATED PRODUCTS*@

<div class="content_bottom">
    <div class="heading">
        <h3>
            @Html.ActionLink("RELATED PRODUCTS", "Catalogue", "Home", new { IDStr = Model.ProductCatalogue.Catalogue_ID + "" }, null)
        </h3>
    </div>
    <div class="see">
        <p>
            @Html.ActionLink("See all Products", "Catalogue", "Home", new { IDStr = Model.ProductCatalogue.Catalogue_ID + "" }, null)
        </p>
    </div>
    <div class="clear"></div>
</div>

@{ Model.Models.Catalogue catalogues = Model.ProductCatalogue;}
@for (int i = 0; i < catalogues.Products.Count; i += 4)
{
    <div class="section group">
        @for (int j = i; j < i + 4; j++)
        {
            if (j >= catalogues.Products.Count)
            {
                break;
            }
            Model.Models.Product product = catalogues.Products.ElementAt(j);
            <div class="grid_1_of_4 images_1_of_4">
                <a href="@Url.Action("ProductDetails", "Product", new { productIDStr = @product.Product_ID + "" })">
                    <img src="@Url.Content(@product.Title_Image)" alt="" />
                </a>
                <h2>@product.Product_Name</h2> <img src="" />
                <div class="price-details">
                    <div class="price-number">
                        <p><span class="rupees">@product.Price</span></p>
                    </div>
                    <div class="add-cart">
                        <h4>@Html.ActionLink("Add to Cart", "ProductDetails", "Product", new { productIDStr = @product.Product_ID + "" }, null)</h4>
                    </div>
                    <div class="clear"></div>
                </div>

            </div>
        }
    </div>
}

