
@{
    ViewBag.Title = "Trending";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@model List<Model.Models.Product>
</div>

<div class="content_bottom" style="margin-top:10px;">
    <div class="heading">
        <h3>
            Hot Trending Products
        </h3>
    </div>
    <div class="clear"></div>
</div>

@for (int i = 0; i < Model.Count; i += 4)
{
    <div class="section group">
        @for (int j = i; j < i + 4; j++)
        {
            if (j >= Model.Count)
            {
                break;
            }
            Model.Models.Product product = Model.ElementAt(j);
            <div class="grid_1_of_4 images_1_of_4">
                <a href="@Url.Action("ProductDetails", "Product", new { productIDStr = @product.Product_ID + "" })">
                    <img src="@Url.Content(@product.Title_Image)" alt="" />
                </a>
                <h2>@product.Product_Name</h2> <img src="" />
                <div class="price-details">
                    <div class="price-number">
                        <p>
                            <span class="rupees">
                                @product.RealPrice$
                            </span>
                            @if (product.DiscountPercent > 0)
                            {
                                <span class="rupees">
                                    <strike style="color: #6A82A4; padding-left: 5px">
                                        @product.Price$
                                    </strike>
                                </span>
                            }
                        </p>
                    </div>
                    <div class="add-cart">
                        <h4>@Html.ActionLink("Add to Cart", "ProductDetails", "Product", new { productIDStr = @product.Product_ID + "" }, null)</h4>
                    </div>
                    <div class="clear"></div>
                </div>

                @if (product.Products_Available <= 0)
                {
                    <div class="sold-out">
                        <a href="@Url.Action("ProductDetails", "Product", new { productIDStr = @product.Product_ID + "" })">
                            <img src="~/Image/soldout.png" />
                        </a>                        
                    </div>
                }

            </div>
        }
    </div>
}